<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fruit.${module}.mapper.${className}Mapper" > 
	<!--  ${codeName} -->
	<resultMap id="BaseResultMap" type="com.fruit.${module}.dto.$!{className}Dto" >
#foreach($item in $!{columnDatas})
#set($columnNameStr = $!item.columnName)
#if($!item.isPrimarykey == 'true')
#set($columnNameStr = "id")
#end	
		<!-- 字段: [$!item.columnComment] -->
		<result column="$!item.columnName" property="$!item.columnNameStr"/>
#end
	</resultMap>
	       
	<!-- $!{tableName} table all fields -->
	<sql id="Base_Column_List" >
		 $!{SQL.columnFields}
	</sql>
	     
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim  suffixOverrides="," >
#foreach($item in $!{columnDatas})
#if($!item.isPrimarykey == 'true')
#set($columnNameStr = "id")
#end
#set($testStr = $!item.columnNameStr + " != null")
#if($!item.dataType == 'String')
#set($testStr = $!testStr + " and " + $!item.columnNameStr + ' != ""')
#end
			<if test='$!testStr'>
				and $!item.columnName = #{$!item.columnNameStr}
			</if>
#end
		</trim>
	</sql>
	   
	<!-- 插入记录 -->
	<insert id="add" parameterType="Object" >
		$!{SQL.insert}
	</insert>
	
	<!-- 插入记录 -->
	<insert id="batchAdd" parameterType="List" >
	  insert into ${tableName} ($!{SQL.columnFields})  
	   values
	 	<foreach collection="list" item="obj" index="index" separator=", " > 
			  ($!{SQL.batchInsert})
		</foreach>
	</insert>
	
	<!-- 根据id，修改记录-->  
	<update id="update" parameterType="Object" >
	 	$!{SQL.update}
	</update>
	 
	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateBySelective" parameterType="Object" >
		$!{SQL.updateSelective}
	</update>
	
	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		$!{SQL.delete}
	</delete>
	
	<!-- 批量删除记录 -->
	<delete id="batchDelete" parameterType="List">
		$!{SQL.batchBatch}
	</delete>
	
	<!-- 根据条件删除记录 -->
	<delete id="deleteByCondtion" parameterType="Object">
		delete from ${tableName}
		<include refid="Example_Where_Clause"/>
	</delete>
	
	<!-- 根据id查询 ${codeName} -->
	<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
		$!{SQL.selectById}
	</select>
	
	<!-- ${codeName} 列表总数-->
	<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from ${tableName} 
		<include refid="Example_Where_Clause"/>
	</select>
	  	
	<!-- 查询${codeName}列表 -->
	<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
		select 
		<include refid="Base_Column_List"/>
		from ${tableName} 
		<include refid="Example_Where_Clause"/>
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
	      ${pager.orderCondition}
	    </if>
	</select>
</mapper>