<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fruit.template.email.mapper.MailMapper">
    <!--  邮件推送日志 -->
    <resultMap id="BaseResultMap" type="com.fruit.template.email.dto.MailDto">
        <!-- 字段: [消息唯一标识] -->
        <result column="msg_id" property="msg_id"/>

        <result column="id" property="id"/>

        <result column="code" property="code"/>

        <result column="name" property="name"/>

        <result column="nr" property="nr"/>

        <result column="cs" property="cs"/>
        <collection property="csrDtoList" ofType="com.fruit.template.email.dto.MailCsrDto">
            <result column="id" property="id"/>
            <result column="csr_address" property="maillAddress"/>
        </collection>
        <collection property="sjrDtoList" ofType="com.fruit.template.email.dto.MailSjrDto">
            <result column="id" property="id"/>
            <result column="sjr_address" property="maillAddress"/>
        </collection>

    </resultMap>

    <!-- msg_log table all fields -->
    <sql id="Base_Column_List">
      id,code,name,nr,cs
    </sql>

    <insert id="insert" parameterType="com.fruit.template.email.dto.LogDto">
        INSERT INTO ut_pt_maill(id,code,name,nr,cs)
        VALUES (#{id},#{code},#{name},#{nr},#{cs})
    </insert>

    <select id="queryByList" resultMap="BaseResultMap">
        select * from ut_pt_maill t
          left join ut_pt_email_csr a on a.mail_id=t.id
          left join ut_pt_email_sjr b on b.mail_id=t.id
    </select>
</mapper>